@font-face {
    font-family: 'Inter_Bold';
    src: url(../fonts/Inter-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Inter_Regular';
    src: url(../fonts/Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Inter_Medium';
    src: url(../fonts/Inter-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat_Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}
