@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    
    .banner__title {
        text-align: center;
    }

    .about .container {
        flex-direction: column;
    }

    .about__box {
        max-width: unset;
    }

    .about__box-name {
        margin: 50px auto 50px;
    }

    .cards .container {
        justify-content: space-around;
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .nav .container {
        flex-direction: column;
        align-items: center;
    }

    .nav__list {
        display: flex;
        align-items: center;
        column-gap: 50px;
    }

    .nav__link {
        margin: 0 auto;
    }
}

@media(max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .banner__title {
        font-size: 30px;
    }

    .banner__link {
        font-size: 22px;
        padding: 3px 15px;
    }

    .about__box-text {
        text-align: center;
    }
}

@media(max-width: 576px) {
    .container {
        max-width: 100%;
        position: relative;
    }

    .nav__list {
        column-gap: 30px;
    }

    .about__ava {
        width: 100%;
    }
}

@media(max-width: 500px) {
    .nav .container {
        flex-direction: row;
        justify-content: space-evenly;

    }
    .nav__menu {
        display: flex;
    }

    .nav__list {
        position: absolute;
        top: 64px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        row-gap: 10px;
        width: 200px;
        height: 200px;
        z-index: 3;
        background: #564b4ba8;
        transform: translateX(-100%);
        transition: 500ms;
    }

    .nav__menu:focus~.nav__list {
        transform: translateX(0); 
    }

    .card__img {
        max-width: 265px;
        width: 100%;
    }

    .footer__title {
        font-size: 30px;
    }

    .footer__icon-svg {
        width: 45px;
    }

}