@import url(fonts.css);

:root {
    --white: #fff;
    --black: #000;
    --hover: red;
    --body-bg: #E5E5E5;
    --about-bg: #0E1C25;
    --card-bg: #B12B06;
    --cards-bg: #5C6B81;
    --inter-b: 'Inter_Bold';
    --inter-r: 'Inter_Regular';
    --inter-m: 'Inter_Medium';
    --montserrat_r: 'Montserrat_Regular';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    user-select: none; 
    background: var(--body-bg);
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.nav {
    background: var(--black);
    padding: 14px 0;

}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    display: none;
}

.nav__menu span {
    display: block;
    width: 100%;
    height: 8px;
    background: var(--white);
    column-gap: 5px;
    border-radius: 2px;
    transition: 500ms;
}

.nav__list {
    display: flex;
}

.nav__link {
    font-family: var(--inter-r);
    font-size: 25px;
    line-height: 30px;
    color: var(--white);
    margin-left: 75px;
    transition: 500ms;
}

.nav__link:hover {
    color: var(--hover);
}

.header__banner {
    min-height: 850px;
    background: url(../img/banner.png) no-repeat center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner__title {
    margin-bottom: 151px;
    color: var(--black) !important;
}

.banner__link {
    font-family: var(--inter-b);
    font-size: 35px;
    line-height: 42px;
    color: var(--black);
    background: var(--white);
    border-radius: 10px;
    padding: 10px 23px;
}

.about {
    background: var(--about-bg);
    padding-bottom: 112px;
}

.text {
    font-family: var(--inter-b);
    font-size: 40px;
    line-height: 48px;
    color: var(--white);
}

.about__title {
    text-align: center;
    padding: 30px 0 47px;
}

.about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.about__box {
    max-width: 466px;
    width: 100%;
}

.about__box-text {
    font-family: var(--inter-m);
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: var(--white);
}

.about__box-name {
    font-family: var(--inter-m);
    font-size: 35px;
    line-height: 42px;
    color: var(--white);
    text-align: center;

}

.cards {
    background: var(--cards-bg);
    padding: 43px 0 40px;
}

.cards__title {
    text-align: center;
    margin-bottom: 60px;
    padding: 0;
}

.card_text {
    font-family: var(--inter-b);
    font-size: 20px;
    line-height: 24px;
}

.card__title {
    color: var(--white);
    margin-bottom: 20px;
}

.card-image {
    margin-bottom: 20px;
}

.card__desc {
    font-family: var(--inter-b);
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--white);
    margin-bottom: 20px;
    text-align: center;
}

.card__link {
    display: inline-block;
    text-align: center;
    background: var(--white);
    border-radius: 10px;
    color: var(--black);
    padding: 8px;
    max-width: 168px;
    width: 100%;
}

.card {
    background: var(--card-bg);
    border-radius: 10px;
    max-width: 312px;
    width: 100%;
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
    min-height: 550px;
}

.cards .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer {
    background: var(--black);
    padding: 46px 0 55px;
}

.footer__title {
    font-family: var(--montserrat_r);
    font-size: 40px;
    line-height: 49px;
    align-items: center;
    text-align: center;
    color: var(--white);
    padding: 0;
    margin-bottom: 34px;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
}